  <div class="form-wrapper">
    <h1 class="login">新規登録</h1>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      

       <div class="form-item">
        <%= f.label :■お名前（全角） %><span class="name-note">※スペースを空けずに入力してください</span><br />
        <%= f.text_field :name, required: "required",placeholder:"お名前を入力してください  例）山田太郎" %>
      </div>

      <div class="form-item">
        <%= f.label :■メールアドレス %><br />
        <%= f.email_field :email, autofocus: true,required: "required",placeholder:"メールアドレスを入力してください"%>
      </div>

      <div class="form-item">
        <%= f.label :■パスワード（英数字混合６文字以上） %><br />
        <%= f.password_field :password, required: "required",placeholder:"パスワードを入力してください" %>
      </div>

      <div class="form-item">
        <%= f.label :■パスワード（確認） %><br />
        <%= f.password_field :password_confirmation, required: "required",placeholder:"同じパスワードを入力してください" %>
      </div>

      

      <div class="form-item">
        <%= f.label :■社員番号（半角） %><br />
        <%= f.text_field :number, required: "required",placeholder:"社員番号を入力してください  例）123456" %>
      </div>

      <div class="form-item">
        <%= f.label :■所属部署 %><br />
        <%= f.collection_select(:division_id, Division.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
      </div>
      

      <div class="form-item">
        <%= f.label :■役職 %><br />
        <%= f.collection_select(:office_id, Office.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
      </div>


      <div class="button-panel">
        <%= f.submit "新規登録", class: "button" %>
      </div>
    <% end %>

    <div class="form-footer"> <%#後ほどlinkto%>
      <p><%= link_to 'すでにアカウントをお持ちの場合', new_user_session_path %></p>
    </div>
  </div>



