<header class="header">
    <div class="box box-nav">
      <ul class="inner-nav">
        <li><%= image_tag "risu.png", class:"list-pict1" %></li>
        <li><%= image_tag "risu.png", class:"list-pict2" %></li>
        <li><%= image_tag "risu.png", class:"list-pict3" %></li>
        <%= link_to "#{current_user.name}さん", root_path, class: :menu %>
         <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: :menu %>
      </ul>
    </div>
</header>

<div class="comment-main-body">
  <div>
    <%=link_to 'TOPにもどる', root_path, class:"back-btn" %>
  </div>
  <div class="title">
    <h1>新規コメント入力</h1>
  </div>

  <%#コメントフォーム%>
  
  <div class="comment-form">
   
    <%= form_with model: @comment, class: 'form', local: true do |f| %>
      <div class="form-input">
        <%= f.text_area :text, class: 'form-comment', placeholder: 'コメントを入力してください' %>
      </div>
      
      <div class="comment-button">
        <%= f.submit '送信', class: 'cbutton' %>
      </div>  
     
    <% end %>
  </div>  
  <%#コメントフォーム%>
</div>  