<header class="header">
    <div class="box box-nav">
      <ul class="inner-nav">
        <li class="header-title">Manegement for Cloud</li>
        <li class="menu-li">
         <%= link_to "#{current_user.name}さん", user_path(current_user.id), class: :menu %>
         <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: :menu %>
         </li>
      </ul>
    </div>
</header>


<div class="new-main">
  <div>
    <%=link_to 'TOPにもどる', root_path, class:"back-btn" %>
  </div>
  <div class="title">
    <h1>休暇編集画面</h1>
  </div>

  <%= form_with model: @rest, local: true do |f| %>

  <div class="form-body">
    <%# 日付 %>
    <div class="attendance-date">
      <div class="weight-bold-text">
            日付
      </div>
          <%= f.date_field :rest_day, class:"today-date", id:"today-date"%>
    </div>
    <%# 日付 %>

    <%# スタイル %>
    <div class="attendance--style">
      <div class="weight-bold-text">
            休暇区分
      </div>
          <%= f.collection_select(:holiday_id, Holiday.all, :id, :name, {}, {class:"atttendance-style"}) %>
    </div>
    <%# スタイル %>


    <%# ボタン %>
    <div class="attendance-button">
      <%= f.submit "休暇申請する" ,class:"button" %>
    </div>
    <%# /ボタン %>

    <p class="rest-p">or</p>
   <%end%>

    <%# ボタン %>
    <div class="delete_btn">
        <%= link_to "休暇を取り消す", rest_path(@rest.id), method: :delete, class: "rests-show_btn" %> 
    </div>     
    <%# /ボタン %>

    <%# リンク %>
      <div class="link-btn">
        <%=link_to '休暇履歴にもどる', rests_path, class:"link-btn" %>
      <div>  
    <%# /リンク %>
  </div>

  




</div>